.imageoptionset .form__field-holder {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding-left: 0;
}

.imageoptionset .form__field-label {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    font-size:16px;
    font-weight:bold;
}

.imageoptionset{
    padding-left: 0
}

.imageoptionset li {
    margin: 15px;
    display: inline-block;
}

.imageoptionset li label {
    display: block;
}

.imageoptionset li input {
    display: none;
}

.imageoptionsetfield-image {
    text-align:center;
}

.imageoptionsetfield-title {
    text-align: center;
    font-weight: bold;
    font-size:14px;
    margin:10px 0;
}

.imageoptionset li input + label .imageoptionsetfield-image > div {
    outline: 5px solid transparent;
}

.imageoptionset li input:checked + label .imageoptionsetfield-image > div {
    outline: 5px solid #2B80FF;
}

.imageoptionset li input + label .imageoptionsetfield-title:before {
    content: "\2713 ";
    font-size:16px;
    color: transparent;
}

.imageoptionset li input:checked + label .imageoptionsetfield-title:before {
    content: "\2713 ";
    font-size:16px;
    color: #2B80FF;
}
