.imageoptionset .middleColumn {
    margin: 0;
}

.imageoptionset label.left {
    float: none;
    font-size:16px;
    font-weight:bold;
}

.imageoptionset li {
    margin: 20px;
    display: inline-block;
}

.imageoptionset li label {
    display: block;
}

.imageoptionset li input {
    display: none;
}

.imageoptionsetfield-image {
    text-align:center;
    border-radius:5px;
    padding:5px;
}

.imageoptionsetfield-title {
    text-align: center;
    font-weight: bold;
    font-size:14px;
    margin:10px 0;
}

.imageoptionset li input:checked + label .imageoptionsetfield-image {
    padding:0;
}
.imageoptionset li input:checked + label .imageoptionsetfield-image > div {
    border: 5px solid #2B80FF;
}
.imageoptionset li input:checked + label .imageoptionsetfield-title:before {
    content: "\2713 ";
    font-size:16px;
    color: #2B80FF;
}